:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --primery-background-color: #ffffff;
  --secondery-background-color: #f5f4fa;
}

body {
  background-color: var(--primery-background-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
}

/* Цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Белый цвет #FFFFFF */
/* Акцент #2196F3 */
/* Футер rgba(255, 255, 255, 0.6) */

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* Header */
.page-header {
  outline: 1px solid var(--primery-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}

.logo-link {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: var(--title-text-color);
}

/* site-nav  */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* contacts-link */
.contacts-link .contact {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-link .contact:hover,
.contacts-link .contact:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: thistle;
  outline: 1px solid var(--primery-text-color);
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;
  color: var(--secondary-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Features */
.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Projects */
.project-list .title {
  color: var(--secondary-accent-color);
  background-color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Projects portfolio */
.project-list .subject {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.project-list .project {
  text-decoration: none;
}

/* Team */
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Clients */
.section-title .clients {
  text-decoration: none;
}

/* Button */
.hero .button {
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  display: inline-block;
}

.filter .button {
  background-color: var(--secondery-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  display: inline-block;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--accent-color);
}

/* Futer */
.address .info {
  color: var(--primery-text-color);
  text-decoration: none;
}

.social .info {
  color: var(--primery-text-color);
  text-decoration: none;
}

.social .info:hover,
.social .info:focus {
  color: var(--accent-color);
}

.section {
  outline: 1px solid gray;
}

/* .navigation-group {
  margin-left: 0px;
  margin-right: 0px;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.contacts-group {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
} */
